.row-conatiner .card-component {
  padding: 10px 10px 10px 25px;
  /* padding: 24px; */
}
.card-component-inner {
  padding: 24px;
  background: #fff;
  border-radius: 8px;
}
.card-icon svg {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 2.1875rem;
}

.card-details h3 {
  color: #333;
  font-family: "Poppins";
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.card-details p {
  margin: 0;
  color: #5f5f5f;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.row-conatiner {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: calc(100% + 24px);
  margin-left: -24px;
}

.iconsize svg {
  font-size: 80px;
}

@media only screen and (max-width: 500px) {
  .main-container {
    padding: 10px 0px 10px 25px;
  }
  .row-conatiner .card-component {
    padding: 10px 25px 10px 25px;
  }
}

@media only screen and (max-width: 375px) {
  .main-container {
    padding: 10px 0px 10px 25px;
  }
  .row-conatiner .card-component {
    padding: 10px 25px 10px 25px;
  }
}

@media only screen and (max-width: 320px) {
  .main-container {
    padding: 10px 0px 10px 25px;
  }
  .row-conatiner .card-component {
    padding: 10px 25px 10px 25px;
  }
}
