.Add-blog-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  background: #ffffff;
  border-radius: 5px;
}

.Add-blog-container h3 {
  font-family: 500;
  font-size: 20px;
  font-weight: 400;
  justify-content: start;
  line-height: 16px;
}

.Add-blog-container label {
  color: black;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.input-field input[type="file"] {
  display: block;
  width: 100%;
  padding: 0.5rem 0.2rem 0.2rem 0.4rem;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  height: 3.5rem;
}

.input-field input[type="file"]::placeholder {
  color: #999;
}

.input-field input[type="file"]:focus {
  outline: none;
  border-color: #4d90fe;
  box-shadow: 0 0 0 3px rgba(77, 144, 254, 0.3);
}

.input-field input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.input-field input[type="file"]::before {
  content: "Choose file";
  display: inline-block;
  padding: 0.5rem 0.5rem;
  background-color: #7356b2;
  color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.input-field input[type="file"]::-webkit-file-upload-button:hover::before {
  background-color: #346ed2;
}

.Add-blog-container textarea {
  width: 100%;
  padding: 1rem 0 0 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100px;
  max-width: 100%;
  font-size: 16px;
}

.inpFifty {
  width: 100%;
  gap: 1rem;
  display: flex;
  margin-bottom: 1rem;
}

.Add-blog-container button {
  display: flex;
  background-color: #7356b2;
}
