.pos-main-container {
  display: flex;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
}

.search-container {
  width: 100%;
}
.product-search {
  display: flex;
  flex-wrap: wrap;
  float: left;
  height: 1020px;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 25px;
  background: #ffffff;
  overflow-x: hidden;
}

.months-popup {
  width: 400px;
}

#subscribe-save {
  background: #ffd917;
  padding: 5px;
  border-radius: 6px;
  color: rgb(42, 9, 9);
  font-weight: 500;
}

.product-search::-webkit-scrollbar {
  width: 3px;
}

.product-search::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.product-search::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.product-billing {
  width: 62%;
  background: #ffffff;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.search-cabin1,
.search-cabin {
  padding: 1rem;
  gap: 1rem;
  justify-content: flex-start;
  display: flex;
  border-bottom: 1px solid rgb(214, 214, 214);
  align-items: center;
}

.brand-dropdown {
  width: 8rem;
  font-size: 14px;
}

.category-dropdown {
  width: 10rem;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.image-card {
  background: #fff;
  border: 1px solid #d3d3d3;
  flex: 1 1 auto;
  height: 155px;
  min-width: 100px;
  padding: 0.5rem;
  position: relative;
  max-width: 14%;
}

.image-card img {
  display: block;
  height: 100%;
  max-height: 80px;
  margin: 0 auto;
  text-align: center;
  object-fit: contain;
  margin-bottom: 1rem;
}

.image-card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #343a40;
}

.image-card:hover .overlay {
  opacity: 0.8;
}

.image-card .plus-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  filter: invert(1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-card:hover .plus-img {
  display: block;
  opacity: 10;
  height: 50px;
  width: 50px;
  color: #ffffff;
}

.images-section {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.product-image {
  object-fit: cover;
  margin-bottom: 8px;
}

.table-product-image {
  margin: 1rem;
  width: 40px;
  object-fit: cover;
}

/* .image-card p:first-child  */
.in-stock {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  margin-left: 7px;
  margin-top: 7px;
  background-color: #00ce7c;
  padding: 0px 4px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

/* .image-card p:nth-child(2)  */
.out-of-stock {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  margin-left: 7px;
  margin-top: 7px;
  background-color: #ff4c5e;
  padding: 0px 4px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

.load-more {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.load-more button {
  align-self: center;
  background: #7356b2;
}

.search-container .delivery-icon {
  height: 40px;
  width: 45px;
  color: black;
  background-color: #ede7f6;
  border-radius: 6px;
  padding: 10px;
}

.quantity-field {
  width: 4rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.billingtable-mastertable {
  height: 450px;
  overflow-y: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  scrollbar-width: thin;
  scrollbar-color: #aaa #f4f4f4;
}

/* Customize scrollbar track */
.billingtable-mastertable::-webkit-scrollbar {
  width: 3px;
}

.billingtable-mastertable::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

/* Customize scrollbar thumb */
.billingtable-mastertable::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

.billingtable table {
  padding: 1rem;
  border-bottom: 1px solid rgb(207, 206, 206);
}

.total-billing {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(207, 206, 206);
  padding: 1rem;
  font-size: 14px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pro-name {
  display: flex;
  font-size: 14px;
  justify-content: center;
  padding: 0.5rem;
}

.blc-info p ~ .blc p {
  line-height: auto;
  font-size: 12px;
}

/* Styling for TotalSection */

.total-discount {
  padding: 1rem;
}

.total-discount-head {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
}

.total-discount-head h5 {
  font-size: 20px;
  font-weight: 500;
}

.total-discount label {
  font-size: 16px;
}

.total-discount input {
  width: 100%;
  height: 2.4rem;
  padding: 0.5rem;
}

.input-group1 {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex-direction: column-reverse;
}

.type-discount {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 1rem;
}

.d-form {
  width: 100%;
  height: 2.42rem;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
}

.d-form button {
  width: 100%;
  height: 2rem;
}

.submit-order {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.shipping-btn {
  background-color: #8a71c0;
  height: 2rem;
  width: 100%;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
}

.customer-form {
  display: flex;
  background: #ffffff;
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 520px;
  padding: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.submit-order button {
  background-color: #7c63b3;
  border-style: none;
}

#order-summ-head {
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.greaterThan {
  font-weight: 800;
  font-size: 18px;
  margin-left: 0.2rem;
  border-radius: 15px;
}

.customer-form button {
  background-color: #8468c1;
}

.minus-plus {
  width: 2rem;
  height: 2rem;
  background: #e5dbff;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  border-radius: 50%;
  border: #301962;
  margin: 5px 0 5px 0;
}

.shipping-address-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1px;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(177 174 174);
}

.shipping-address-head h2 {
  font-weight: 400;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  padding: 1px;
}

.MuiDialogTitle-root
  + .css-ypiqx9-MuiDialogContent-root
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 100%;
}
.shipp-option .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 100%;
}

.address-details {
  display: flex;
  border: 0.6px solid rgb(32, 105, 172);
  width: 100%;
  height: 260px;
  border-radius: 5px;
  padding: 1rem;
}

.close-confirm {
  display: flex;
  gap: 1rem;
  border-top: 1px solid rgb(191, 191, 191);
  padding: 1rem;
  width: 100%;
  justify-content: flex-end;
}

.close-confirm button:first-child {
  background-color: #606060;
  color: #ffffff;
}

.close-confirm button {
  text-transform: capitalize;
}

.bold-para {
  font-size: 14px;
  font-weight: 700;
}

.add-new-address {
  border: 1px solid rgb(202, 200, 200);
  width: 96%;
  border-radius: 5px;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.address-details p {
  line-height: 20px;
  font-size: 16px;
}

.details-form {
  margin-bottom: 0.5rem;
}

.form-flex {
  display: flex;
}

.form-main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-main-label {
  margin-right: 1rem;
  padding-top: 0.5rem;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.form-input {
  border: 1px solid #a9b3e3;
  color: #3b4781;
}

.form-control {
  flex: 0 0 83.33333%;
  border: none;
  height: 2.5rem;
  width: 19rem;
  max-width: 19rem;
}

.form-control-address {
  width: 19rem;
  max-width: 19rem;
  max-height: 9rem;
  border: none;
  font-size: 14px;
  padding: 12px 10px;
}

.form-control-dropdn {
  color: #3b4781;
  border: 1px solid #a9b3e3;
  width: 19.1rem;
  border: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #3b4781;
}

.details-form
  .MuiAutocomplete-hasPopupIcon.css-1d1uaku-MuiAutocomplete-root
  .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon.css-1d1uaku-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  padding-right: 25px;
  border: 1px solid #a9b3e3;
}

.freeze-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  pointer-events: auto;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

.freeze-backdrop .hidden {
  opacity: 0;
  pointer-events: none;
}

.product-name {
  font-size: 12px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  white-space: nowrap;
  color: #000;
  font-weight: 400;
}

.cancel-price {
  color: #646465 !important;
  font-size: 10px;
  margin-right: 6px;
}

.price-span {
  color: #646465 !important;
  font-size: 14px;
}

/* radio buttons */
.container-radio {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
  align-items: center;
}

.container-radio label {
  display: flex;
  align-items: center;
}

.container-radio input[type="radio"],
.container-radio input[type="checkbox"] {
  margin-right: 5px;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
  .pos-main-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .pos-main-container {
    flex-direction: column;
  }
  .product-billing {
    width: 100%;
  }

  .search-cabin1,
  .search-cabin {
    gap: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .shipp-option {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .type-discount {
    display: flex;
    margin-bottom: 0.2rem;
    flex-direction: column;
    gap: 1rem;
  }

  .brand-dropdown {
    width: 4rem;
  }

  .category-dropdown {
    width: 4rem;
  }

  .search-cabin1,
  .search-cabin {
    gap: 0.5rem;
  }

  .product-search {
    width: 94%;
  }

  .product-billing {
    width: 94%;
  }

  .load-more {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .close-confirm {
    display: flex;
    gap: 1rem;
    border-top: 1px solid rgb(191, 191, 191);
    padding: 1rem;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
  }

  .customer-form {
    width: 90vw;
    overflow-y: auto;
    height: 90vh;
  }

  .address-details p {
    line-height: 20px;
    font-size: 14px;
    margin: 5px;
  }

  .address-details {
    height: auto;
  }

  .form-control {
    width: 90vw;
  }

  .form-control-address {
    width: 90vw;
  }

  .form-main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }

  .months-popup {
    width: 300px;
  }

  .image-card {
    min-width: 100px;
    max-width: 14%;
  }
}

@media only screen and (max-width: 320px) {
  .form-input {
    display: flex;
    border: 1px solid #a9b3e3;
    color: #3b4781;
    width: 80vw;
    margin-left: 1.5rem;
  }

  .form-main-label {
    width: 80vw;
    margin-left: 1.5rem;
  }

  .customer-details-form .MuiTextField-root {
    width: 80vw;
    margin-left: 1.6rem;
  }
}
