.main-body2 .css-1ex1afd-MuiTableCell-root {
  font-family: "Poppins", sans-serif;
}

.tabs-buttons button {
  background-color: #7356b2;
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
}

.status-active {
  background-color: #d5f9de;
  padding: 4px;
  color: green;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
}

.product-type {
  background-color: gray;
  padding: 4px;
  color: #ffffff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
}

/* AddPeriodicDiscount.css */

.task-date-input {
  width: 100%;
}
