form.search input[type="text"] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #c9c9c9;
  float: left;
  width: 70%;
  background: rgb(248, 250, 252);
  border-left: none;
  border-right: none;
  color: #5f5f5f;
  height: 50px;
  opacity: 0.8;
}
form.search .search-icon {
  float: left;
  width: 10%;
  padding: 10px;
  background: rgb(248, 250, 252);
  color: #333;
  font-size: 17px;
  border: 1px solid #c9c9c9;
  border-radius: 6px 0px 0px 6px;
  border-right: none;
  cursor: pointer;
  height: 50px;
}

.search {
  position: absolute;
  left: 14rem;
}

form.search .nav-search-filter {
  float: left;
  width: 13%;
  padding: 10px;
  background: rgb(248, 250, 252);
  border: 1px solid #c9c9c9;
  border-radius: 0px 6px 6px 0px;
  border-left: none;
  cursor: pointer;
  height: 50px;
}
.nav-search-filter svg {
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 28px;
  background: rgb(237, 231, 246);
  color: rgb(94, 53, 177);
  padding: 2px;
  transition: all 0.3s linear;
}

.nav-search-filter svg:hover {
  background: rgb(94, 53, 177);
  color: #fff;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

.mleft {
  margin-left: 4.5rem;
}

/* Styles for devices with a maximum width of 767px (e.g., smartphones) */
@media only screen and (max-width: 767px) {
  form.search input[type="text"] {
    width: 35%;
  }
}

@media only screen and (min-width: 768px) {
  form.search input[type="text"] {
    width: 48%;
  }

  form.search .nav-search-filter {
    float: left;
    width: 30%;
  }
}

@media only screen and (min-width: 992px) {
  form.search input[type="text"] {
    width: 50%;
  }

  form.search .nav-search-filter {
    float: left;
    width: 22%;
  }
}

@media only screen and (min-width: 1200px) {
  form.search input[type="text"] {
    width: 58%;
  }

  form.search .nav-search-filter {
    float: left;
    width: 15%;
  }
}

@media only screen and (min-width: 1500px) {
  form.search input[type="text"] {
    width: 60%;
  }

  form.search .nav-search-filter {
    float: left;
    width: 16%;
  }
}

@media only screen and (max-width: 500px) {
  form.search input[type="text"] {
    width: 28%;
  }

  form.search .nav-search-filter {
    float: left;
    width: 45%;
  }
}

@media only screen and (max-width: 500px) {
  .search {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .search {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .search {
    display: none;
  }
}
